/* Reset de márgenes y padding para todo el documento */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Elimina la barra de desplazamiento horizontal */
    overflow-y: auto; /* Permite el desplazamiento vertical */
}

/* Estilo general del cuerpo */
body {
    font-family: Arial, sans-serif;
    background-image: url("img/img-7rDiwQZwQJsHRi42X7P6t.jpeg");
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Asegura que el contenido mínimo llene la pantalla */
    display: flex;
    flex-direction: column;
}

/* Contenedor principal de la web */
.contenedor-web {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/* Estilo de menú de navegación */
.menu {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

/* Lista de navegación */
.menu-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 33%;
    font-size: 20px;
}

.menu-nav li {
    margin: 0 10px;
    position: relative;
}

/* Enlaces de navegación */
.menu-nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 5px;
    position: relative;
}

.menu-nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

.menu-nav a:hover::after {
    width: 100%;
}

/* Logo del menú */
.logo-menu {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Redes sociales en el menú */
.menu-redes_sociales {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    gap: 20px;
}

.menu-redes_sociales img {
    width: 40px;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.menu-redes_sociales img:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
}

/* Sección de presentación */
.presentacion {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    align-items: center;
    grid-template-areas:
        "presentacion-titulo"
        "presentacion-nombre "
        "presentacion-descripcion"
        "botones";
}

.presentacion-titulo {
    grid-area: presentacion-titulo;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.presentacion-titulo span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    font-size: 80px;
    border-right: 2px solid rgba(255, 255, 255, 0);
}

.presentacion-titulo span:nth-child(1) {
    color: white;
    animation: typing1 2s linear forwards, blink-caret 0.75s step-end infinite;
}

.presentacion-titulo span:nth-child(2) {
    color: rgb(255, 64, 64);
    animation: typing2 1.5s linear forwards, blink-caret 0.75s step-end infinite;
    animation-delay: 1.5s;
}

@keyframes typing1 {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes typing2 {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Otros estilos de contenido */
.presentacion-nombre,
.presentacion-descripcion,
.botones {
    width: 80%;
    box-sizing: border-box;
}

.presentacion-nombre {
    grid-area: presentacion-nombre;
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
}

.nombre {
    padding: 5px;
    background-color: rgba(245, 245, 220, 0.287);
    border-radius: 10px;
    font-size: 30px;
}

.presentacion-descripcion {
    grid-area: presentacion-descripcion;
    color: white;
    text-align: justify;
    font-size: 20px;
    line-height: 1.5;
}

.presentacion-img {
    grid-area: presentacion-img;
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Sección de botones */
.botones {
    grid-area: botones;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
}

.boton-resumen,
.boton-contacto {
    height: 50px;
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    border-radius: 5px;
    color: white;
}

.boton-resumen {
    background-color: rgb(255, 64, 64);
}

.boton-contacto {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 64, 64) !important;
}

/* Sección de proyectos */
.proyectos {
    width: 90%;
    margin-bottom: 20px; /* Espacio al final para permitir desplazamiento */
}

.proyectos-titulo {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
    margin: 30px 0;
}

.proyectos-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

/* Otros estilos adicionales */
.card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.card-titulo,
.card-link,
.card-descripcion {
    margin-bottom: 10px;
}

.card-link {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.card-link:hover {
    background-color: #0056b3;
}

.card-tecnologias {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card-tecnologias li {
    background-color: #e0e0e0;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    color: #333;
}

.contacto{
    background-color: #ffffff;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    gap: 5px;
    .contacto-titulo{
        color: rgb(255, 64, 64);
        text-align: center;
        font-size: 50px;
        margin: 15px auto;
        width: 100%;
        height: auto;
    }
    .contacto-form{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        .form-group{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            label{
                color: rgb(0, 0, 0);
                font-size: 20px;
                margin-bottom: 5px;
            }
            input{
                width: 300px;
                height: 30px;
                border-radius: 5px;
                border: 1px solid rgb(255, 64, 64);
                padding: 5px;
            }
            textarea{
                width: 300px;
                height: 100px;
                border-radius: 5px;
                border: 1px solid rgb(255, 64, 64);
                padding: 5px;
            }
        }
        .boton-enviar{
            background-color: rgb(255, 64, 64);
            font-size: 20px;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            margin-top: 5px;
        }
        .boton-enviar:hover{
            background-color: rgb(255, 0, 0);
        }
    }
}